{% extends 'app/base.html' %}

{% block content %}
    <h1>Update Article</h1>
    <p>Word count of article is: {{article.word_counts}} word{{article.word_counts | pluralize}}</p>
    <p>Article last updated at : {{article.updated_at | date:"jS F Y"}}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'delete_article' article.id %}">Delete Article</a><br>
    <a href="{% url 'home' %}">Back to list</a>
{% endblock content %}